* {
  margin: 0;
  padding: 0;
}

body {
 background-color: aquamarine;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preview {
  margin: 50px;
  padding: 50px;
  font-size: 18px;
  width: 900px;
  height: 600px;
  background-color: burlywood;
}

#preview img {
  width: 40%;
}

#editor textarea{
  margin: 50px;
  margin-top: 30px;
  padding: 20px;
  height: 400px;
  width: 600px;
  overflow: scroll;
  background-color: burlywood;
}